# How to work with Matlab and Octave

* **Difficulty level**: easy
* **Time need to lean**: 10 minutes or less

## MATLAB (Octave) <a id="Matlab_Octave"></a>

SoS tries to exchange variables with MATLAB/Octave in the most natural way. For example it converts numpy arrays to MATLAB matrix, and dictionaries to MATLAB struct. It converts Python DataFrame (or R `data.frame`) to `table` in MATLAB but to `dataframe` in Octave because the latter is closer to Python DataFrame.

The convertion of datatype from SoS to MATLAB (Octave) is as followings:
  
  | Python  |  condition |   MATLAB/Octave |
  | --- | --- |---|
  | `None` | |    `NaN` |
  | `boolean` |   | `logical` |
  | `integer` |  |  `integer` |
  | `float` |  |  `float` |
  | `complex` |  |  `complex` |
  | `str` |  | `str` |
  | `char` |  | `char` |
  | Sequence (`list`, `tuple`, ...) |  homogenous type, all numeric |  `vector` |
  | Sequence (`list`, `tuple`, ...) |  homogenous type, all char |  `char` |
  | Sequence (`list`, `tuple`, ...) |  multiple types |  `cell` |
  | `set` |  |  `cell` |
  | `dict` |  |`struct`|
  | `numpy.ndarray` |  | `cell` |
  | `numpy.matrix` |  | `matrix` |
  | `pandas.DataFrame` |  |  `table` (MATLAB) |
  | |  | `dataframe` (Octave) |
  Python objects in other datatypes are transferred as string `"Unsupported datatype"`.

The convertion of datatype from MATLAB (Octave) to SoS is as followings:

  | MATLAB  |  length (n) |   Python |
  | --- | --- |---|
  | `NaN` | |    `None` |
  | `logical` |  `1` |  `boolean` |
  | `integer` |  `1` |  `integer` |
  | `numeric` |  `1` |  `double` |
  | `character` |  `1` |  `string` |
  | `complex` |  `1` |  `complex` |
  | `logical` |  `n > 1` |  `list` |
  | `integer` |  `n > 1` |  `list` |
  | `complex` |  `n > 1` |  `list` |
  | `numeric` |  `n > 1` |  `list` |
  | `character` |  `n > 1` |  `list` |
  | `struct` |  `n > 0` | `numpy.ndarray` |
  | `matrix` |  `n > 0` |  `numpy.array` |
  | `cell` |  `n > 0` |  `numpy.ndarray` |
  | `table` |  `n > 0` |  `pandas.DataFrame` |

For example, a R dataframe is transfered as table to MATLAB.

In [3]:
%get mtcars --from R
mtcars

mtcars =

  32ï¿½11 table

    mpg     cyl    disp     hp     drat     wt      qsec     vs    am    gear    carb
    ____    ___    _____    ___    ____    _____    _____    __    __    ____    ____

      21    6        160    110     3.9     2.62    16.46    0     1     4       4
      21    6        160    110     3.9    2.875    17.02    0     1     4       4
    22.8    4        108     93    3.85     2.32    18.61    1     1     4       1
    21.4    6        258    110    3.08    3.215    19.44    1     0     3       1
    18.7    8        360    175    3.15     3.44    17.02    0     0     3       2
    18.1    6        225    105    2.76     3.46    20.22    1     0     3       1
    14.3    8        360    245    3.21     3.57    15.84    0     0     3       4
    24.4    4      146.7     62    3.69     3.19       20    1     0     4       2
    22.8    4      140.8     95    3.92     3.15     22.9    1     0     4       2
    19.2    6      167.6    123    3.92     3.44     18.3    1     0     4       4
    17.8    6      167.6    123    3.92     3.44     18.9    1     0     4       4
    16.4    8      275.8    180    3.07     4.07     17.4    0     0     3       3
    17.3    8      275.8    180    3.07     3.73     17.6    0     0     3       3
    15.2    8      275.8    180    3.07     3.78       18    0     0     3       3
    10.4    8        472    205    2.93     5.25    17.98    0     0     3       4
    10.4    8        460    215       3    5.424    17.82    0     0     3       4
    14.7    8        440    230    3.23    5.345    17.42    0     0     3       4
    32.4    4       78.7     66    4.08      2.2    19.47    1     1     4       1
    30.4    4       75.7     52    4.93    1.615    18.52    1     1     4       2
    33.9    4       71.1     65    4.22    1.835     19.9    1     1     4       1
    21.5    4      120.1     97     3.7    2.465    20.01    1     0     3       1
    15.5    8        318    150    2.76     3.52    16.87    0     0     3       2
    15.2    8        304    150    3.15    3.435     17.3    0     0     3       2
    13.3    8        350    245    3.73     3.84    15.41    0     0     3       4
    19.2    8        400    175    3.08    3.845    17.05    0     0     3       2
    27.3    4         79     66    4.08    1.935     18.9    1     1     4       1
      26    4      120.3     91    4.43     2.14     16.7    0     1     5       2
    30.4    4       95.1    113    3.77    1.513     16.9    1     1     5       2
    15.8    8        351    264    4.22     3.17     14.5    0     1     5       4
    19.7    6        145    175    3.62     2.77     15.5    0     1     5       6
      15    8        301    335    3.54     3.57     14.6    0     1     5       8
    21.4    4        121    109    4.11     2.78     18.6    1     1     4       2

## Further reading

*